.bottomHeader #searchBox .magic-box .magic-box-input {
    border-radius: 0px !important;
  }
  .bottomHeader #searchBox .magic-box .magic-box-input .magic-box-underlay, .bottomHeader #searchBox .magic-box .magic-box-input .magic-box .magic-box-input > input {
    font-family: canada-type-gibson, sans-serif !important;
    line-height: 48px;
    height: 48px;
  }
  .bottomHeader #searchBox .magic-box .magic-box-suggestions {
    font-family: canada-type-gibson, sans-serif !important;
    font-size: 15px !important;
    background-color: #F7F8F9;
  }
  .bottomHeader #searchBox .magic-box .magic-box-suggestions.magic-box-hasSuggestion {
    border-color: #CFD9E0 !important;
    position:relative;
  }
  .bottomHeader #searchBox .magic-box .magic-box-suggestions.magic-box-hasSuggestion .magic-box-suggestion {
    color: #94A9BF;
    margin-left: 100px;
    border-left: 1px solid #CFD9E0;
  }
  .bottomHeader #searchBox .magic-box .magic-box-suggestions.magic-box-hasSuggestion .magic-box-suggestion:first-child:before {
    position: absolute;
    left: 11px;
    content: "Queries";
    text-transform: uppercase;
    color: #B5C4CF;
  }
  .bottomHeader #searchBox .magic-box .magic-box-suggestions .coveo-highlight,
  .bottomHeader #searchBox .magic-box .magic-box-suggestions .coveo-omnibox-hightlight {
    font-weight: normal !important;
    color: #242A31;
  }
  
  header .bottomHeader #searchBox .coveo-top-field-suggestion-header {
      position: absolute;
      color: #B5C4CF;
      background-color: #F7F8F9;
      text-transform: uppercase;
      border-top: 1px solid #CFD9E0;
      width: 100px;
      height: 100%;
      padding-top: 14px;
      z-index: 1;
  }
  
  header .bottomHeader #searchBox .coveo-top-field-suggestion-header{
      display:block !important;
  }