<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
{% if site.inc.sharing.twitter %}<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>{% endif %}
{% if site.inc.sharing.facebook %}<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=253595308025739";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>{% endif %}
{% if site.inc.sharing.gplus %}<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>{% endif %}
{% if site.inc.sharing.hn %}<script>
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>{% endif %}
{% if site.inc.sharing.foursquare %}
<script type='text/javascript'>
  (function() {
    window.___fourSq = {};
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.src = 'http://platform.foursquare.com/js/widgets.js';
    s.async = true;
    var ph = document.getElementsByTagName('script')[0];
    ph.parentNode.insertBefore(s, ph);
  })();
</script>
{% endif %}
{% if site.inc.analytics.google %}
  {% include _google-analytics.html %}
{% endif %}
{% if site.inc.analytics.coveo %}
  {% include _coveo-analytics.html %}
{% endif %}
<script type="text/javascript" charset="utf-8">

$(function() {
  enableSelectBoxes();
});

function enableSelectBoxes(){
  $('div.selectBox').each(function(){

    $(this).children('span.selected').html("Blog");
    
    $(this).children('span.selected,span.selectArrow').click(function(){
      $('span.selectArrow').toggleClass('active');
      $('div.selectBox').toggleClass('active');
      if($(this).parent().children('div.selectOptions').css('display') == 'none'){
        $(this).parent().children('div.selectOptions').css('display','block');
      } else {
        $(this).parent().children('div.selectOptions').css('display','none');
      }
    });
    
    $(this).find('span.selectOption').click(function() {
      $(this).parent().css('display','none');
      location.replace($(this).attr('value'));
    });
  });       
}

</script>
