<script src="/js/d3.min.js"></script>
<script src="/js/CoveoJsSearch.WithDependencies.min.js"></script>
<script type="text/javascript">
    $(function () {
        Coveo.Rest.SearchEndpoint.endpoints["default"] = new Coveo.Rest.SearchEndpoint({
            restUri: 'https://developers.coveo.com/coveorest/search',
            anonymous: true
        });
      if (document.location.pathname !== "/search/") {
        $('#searchBox').coveo('initSearchBox', '/search');
      } else if (document.location.pathname == "/search/" ) {
        var mySearchBox = $("#searchBox");
        $("#search").coveo("init", {
            externalComponents : [mySearchBox]
        })        
      }
    });
</script>
