<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="xWtehtrl92ZffHdBGNoyIRZyd7v7vZLHQ5LtJF5M2XE" /> <!-- Give Access to MAV -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.inc.title }}{% else %}{{ site.inc.title }} &mdash; {{ site.inc.subtitle }}{% endif %}</title>
    <link rel="stylesheet" href="https://use.typekit.net/bqa0xml.css">
         
    <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.4382/css/CoveoFullSearch.css"/>
    <link rel="stylesheet" href="https://s3.amazonaws.com/coveo-static/community-unified-navigation/css/styles.css" />
    <link rel="stylesheet" href="https://source.coveo.com/css/community-unified-navigation-custom.css?v=reskin"/>

	{% include _search.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.github.url | replace: 'http://', '//' }}/css/main.css"/>
    <link rel="shortcut icon" href="https://www.coveo.com/public/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.github.url | replace: 'http://', '//' }}/images/apple-touch-icon-144x144	-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.github.url | replace: 'http://', '//' }}/images/apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.github.url | replace: 'http://', '//' }}/images/apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.github.url | replace: 'http://', '//' }}/images/apple-touch-icon-precomposed.png" />
    <link href="{{ site.github.url | replace: 'http://', '//' }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />

    <meta property="og:site_name" content="{{ site.title }}" />
    <meta name="twitter:card" content="summary" />

{% if page.title %}
  <meta property="og:type" content="article" />
  <meta property="title" content="{{ page.title }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta name="twitter:title" content="{{ page.title }}" />
{% else %}
  <meta property="og:type" content="website" />
  <meta property="title" content="{{ site.title }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta name="twitter:title" content="{{ site.title }}" />
{% endif %}

{% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
{% else %}
  <meta property="og:description" content="{{ site.description }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
{% endif %}

{% if page.url %}
  <meta content="{{ site.github.url | replace: 'http://', '//' }}{{ page.url }}" property="og:url" />
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
  <meta content="{{ site.github.url | replace: 'http://', '//' }}/about/" property="article:author" />
{% endif %}

{% if page.image %}
  <meta property="og:image" content="{{ site.github.url | replace: 'http://', '//' }}/{{ page.image }}" />
{% else %}
  {% if page.cover_image %}
    <meta property="og:image" content="{{ site.github.url | replace: 'http://', '//' }}/images/{{ page.cover_image }}">
  {% else %}
    <meta property="og:image" content="{{ site.github.url | replace: 'http://', '//' }}/images/{{ site.inc.logo }}" />
    <meta property="og:image:width" content="560" />
    <meta property="og:image:height" content="560" />
    <meta name="twitter:image" content="{{ site.github.url | replace: 'http://', '//' }}/images/{{ site.inc.logo }}" />
  {% endif %}
{% endif %}

{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta property="article:section" content="{{ category }}" />
  {% endfor %}
{% endif %}

{% if page.tags %}
  <meta name="tags" content="{% for tag in page.tags %}{{ tag }};{% endfor %}" />
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}
{% endif %}

{% if page.author.name %}
  <meta name="author" content="{{ page.author.name }}" />
{% endif %}

{% include _cookie-policy.html %}

{% if site.inc.analytics.google %}
  {% include _google-analytics.html %}
{% endif %}

<link rel="canonical" href="{{ site.github.url | replace: 'http://', '//' }}{{ page.url }}">
{% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %}
{% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}


</head>
<body>

	<header>
		<div class="upHeader clear">
			<div class="logos">
				<a href="https://www.coveo.com" class="logo" title="Coveo community"></a>
				<h3><a href="#">Community</a></h3></div>
			<h1 class="currentSiteName"><em>Tech Blog</em> <span>Menu<i class="arrow"></i></span></h1>
			<nav>
				<ul class="menu floated">
					<li><a id="jsSupport" href="https://connect.coveo.com"  target="_blank">Connect</a></li>
					<li><a id="jsProductDocs" href="https://docs.coveo.com" target="_blank">Product docs</a></li>
					<li><a id="jsTraining" href="https://levelup.coveo.com/" target="_blank">Level Up</a></li>
					<li><a d="jsTechBlog" href="/"  class="current">Tech Blog</a></li>
				</ul>
				<ul class="externalbox with-sub">
					<li>
						<a href="#" class="sub">More <i class="arrow"></i></a>
						<ul>
              <li><a d="jsCloudAdminV2" target="_blank" href="https://platform.cloud.coveo.com">Coveo Relevance Platform</a></li>
              <li><a d="coveoTurbo" target="_blank" href="https://coveo-turbo.github.io">Coveo Turbo</a></li>
              <li><a d="coveoGithub" target="_blank" href="https://github.com/coveo">Coveo GitHub</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="bottomHeader">
			<div id="searchBox">
        <div class="CoveoSearchbox" type="text"
          data-enable-omnibox="true"
          data-inline="false"
          data-enable-wildcards="true"
          data-enable-search-as-you-type="false"
          data-enable-reveal-query-suggest-addon="true"
          data-enable-query-syntax="true"
          data-enable-field-addon="true">
        </div>
				<div class="CoveoFieldSuggestions" data-field="@techblogtitle" data-header-title="Posts"></div>
			</div>
		</div>
	</header>
</div>

{{ content }}

<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }}

        <nav>
            <a href="{{ site.inc.url }}">{{ site.inc.company }}</a> &middot;
            <a href="https://connect.coveo.com">Connect</a>
            <a href="https://docs.coveo.com">Documentation</a>
            <a href="https://careers.coveo.com">Careers</a>  &middot;
            <a href="#ot_toggleInfoDisplay" class="show-ot-infoDisplay">Cookies Preferences</a>
        </nav>

        <nav class="social">
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {% endif %}
            <a href="{{ site.github.url | replace: 'http://', '//' }}/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>

{% include _scripts.html %}

</body>
</html>