<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="xWtehtrl92ZffHdBGNoyIRZyd7v7vZLHQ5LtJF5M2XE" /> <!-- Give Access to MAV -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.inc.title }}{% else %}{{ site.inc.title }} &mdash; {{ site.inc.subtitle }}{% endif %}</title>
    {% if site.inc.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">{% endif %}

	<link rel="stylesheet" href="https://s3.amazonaws.com/coveostatic/coveo-search-ui_V1.1550.5/bin/css/CoveoFullSearchNewDesign.css">
	<link rel="stylesheet" href="https://s3.amazonaws.com/coveostatic/community-unified-navigation/css/styles.css" />

	<!-- <link rel="stylesheet" href="/css/CoveoFullSearch.css" /> -->
	{% include _search.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/main.css"/>
    <link rel="shortcut icon" href="{{ site.github.url }}/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ site.github.url }}/images/{{ site.inc.logo }}"/>
    <link href="{{ site.github.url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />
<meta content="{{ site.title }}" property="og:site_name">

{% if page.title %}
  <meta content="{{ page.title }}" property="title">
  <meta content="{{ page.title }}" property="og:title">
  <meta content="article" property="og:type">
{% else %}
  <meta content="{{ site.title }}" property="title">
  <meta content="{{ site.title }}" property="og:title">
  <meta content="website" property="og:type">
{% endif %}

{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
  <meta name="description" content="{{ page.title }}"/>
{% else %}
  <meta content="{{ site.description }}" property="og:description">
  <meta name="description" content="{{ page.title }}"/>
{% endif %}

{% if page.url %}
  <meta content="{{ site.github.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.github.url }}/about/" property="article:author">
{% endif %}

{% if page.image %}
  <meta content="{{ site.github.url }}/{{ page.image }}" property="og:image">
{% else %}
{% if page.cover_image %}
  <meta property="og:image" content="{{ site.github.url }}/images/{{ page.cover_image }}"/>
{% else %}
  <meta property="og:image" content="{{ site.github.url }}/images/{{ site.inc.logo }}"/>
{% endif %}
{% endif %}

{% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
{% endif %}

{% if page.tags %}
  <meta name="tags" content="{% for tag in page.tags %}{{ tag }};{% endfor %}" />
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}

{% if page.author.name %}
  <meta name="author" content="{{ page.author.name }}">
{% endif %}

<link rel="canonical" href="{{ site.github.url }}{{ page.url }}">
{% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %}
{% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}


</head>
<body>

	<header>
		<div class="upHeader clear">
			<div class="logos">
				<a href="http://www.coveo.com" class="logo" title="Coveo community"></a>
				<h3><a href="#">Community</a></h3></div>
			<h1 class="currentSiteName"><em>Support</em> <span>Menu<i class="arrow"></i></span></h1>
			<nav>
				<ul class="menu floated">
					<li><a id="jsSupport" href="https://support.coveo.com"  target="_blank">Support</a></li>
					<li><a id="jsProductDocs" href="https://onlinehelp.coveo.com" target="_blank">Product docs</a></li>
					<li><a id="jsDevDocs" href="https://developers.coveo.com" target="_blank">Developer docs</a></li>
					<li><a id="jsAnswers" href="https://answers.coveo.com" target="_blank">Answers</a></li>
					<li><a id="jsTraining" href="http://www.coveo.com/training" target="_blank">Training</a></li>
					<li><a d="jsTechBlog" href="/"  class="current">Tech Blog</a></li>
				</ul>
				<ul class="externalbox with-sub">
					<li>
						<a href="#" class="sub">More <i class="arrow"></i></a>
						<ul>
							<li><a d="jsCloudAdminV1" target="_blank" href="https://cloud.coveo.com">Cloud V1 Administration Console</a></li>
							<li><a d="jsCloudAdminV2" target="_blank" href="https://platform.cloud.coveo.com">Cloud V2 Administration Console</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="bottomHeader">
			<div id="searchBox">
				<div class="CoveoSearchbox" type="text" data-enable-omnibox="true" data-inline="false" data-enable-wildcards="true" data-enable-search-as-you-type="false" data-enable-reveal-query-suggest-addon="false" data-enable-query-syntax="true" data-enable-field-addon="true"></div>
				<div class="CoveoFieldSuggestions" data-field="@systitle" data-header-title="Suggested topics"></div>
			</div>
		</div>
	</header>
</div>

{{ content }}

<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }}

        <nav>
            <a href="{{ site.inc.url }}">{{ site.inc.company }}</a> &middot;
            <a href="https://answers.coveo.com">Answers</a>
            <a href="https://developers.coveo.com">Documentation</a>
        </nav>

        <nav class="social">
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {% endif %}
            <a href="{{ site.github.url }}/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>

{% include _scripts.html %}

</body>
</html>
