---
layout: base
---

<div class="illustration">
    <div class="container">
        <a href="/"><img src="{{ site.github.url }}/images/illustration-half.png" alt="Tech Blog" class="half-ill"></a>
    </div>
</div>

{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="{{ site.github.url }}/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>

    <div class="container">
        <div class="single">
            <header>
                <h1 class="title">{{ page.title }}</h1>
                {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
                <div class="meta">
    	            By {% if page.author.twitter %}<address><a rel="author" href="https://twitter.com/{{ page.author.twitter }}" title="{{ page.author_name }}" target="_blank">{% endif %}{{ page.author.name }}{% if page.author.twitter %}</a></address>{% endif %} &mdash;
                    <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
                </div>

            </header>

            <section>
                <div class="post_content">
                    {{ content }}
                </div>
                {% include _social.html %}
                {% if page.tags %}
                <div class="tags">
                      {% for tag in page.tags %}
                        {% if forloop.last %}
                          <a href="https://search.coveo.com/#sort=relevancy&f:sourceFacet=[Web%20-%20TechBlog]&f:TagsFacet=[{{ tag }}]">{{ tag }}</a>
                        {% else %}
                          <a href="https://search.coveo.com/#sort=relevancy&f:sourceFacet=[Web%20-%20TechBlog]&f:TagsFacet=[{{ tag }}]">{{ tag }}</a>
                        {% endif %}
                      {% endfor %}
                  </div>
                {% endif %}

            </section>

            <footer>
            <address>
               {% if page.author.imageURL %}<img src="{{ page.author.imageURL }}" />{% endif %}
               {% if page.author.image %}<img src="{{ site.github.url }}/images/{{ page.author.image }}"/>{% endif %}
                <p>Written by <strong>{% if page.author.twitter %}<a rel="author" href="https://twitter.com/{{ page.author.twitter }}" title="{{ page.author_name }}" target="_blank">{% endif %}{{ page.author.name }}{% if page.author.twitter %}</a>{% endif %}</strong><br>
                <span class="muted">{{ page.author.bio }}</span>
                </p>
            </address>
        </footer>
        </div>
        {% if site.inc.disqus.shortname %}
        <section class="disqus_cont">
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
