<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} &mdash; {{ site.inc.title }}{% else %}{{ site.inc.title }} &mdash; {{ site.inc.subtitle }}{% endif %}</title>
    {% if site.inc.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css"/>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/{{ site.inc.logo }}"/>
    <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title }}" />
    <meta name="title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}">
    {% if page.author.name %}<meta name="author" content="{{ page.author.name }}">{% endif %}
    {% if page.tags %}<meta name="tags" content="{% for tag in page.tags %}{{ tag }};{% endfor %}" />{% endif %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %} 
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
    <meta property="og:title" content="{% if page.title %}{{ page.title }} {% else %}{{ site.inc.title }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>  
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>   
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.title }}"/>
    <meta name="description" content="{{ page.title }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.inc.title }}">    
    <link rel="stylesheet" href="/css/CoveoFullSearch.css" />
    {% include _search.html %}
</head>
<body id="search" class="CoveoSearchInterface" data-enable-history="true">

<section class="site-nav">
    <header>
        <div class="container">
            <div id="logo">
    		    <a href="/">
    			    <img src="{{ site.baseurl }}/images/{{ site.inc.logo }}" title="back to home page" alt="Coveo Source Blog">
    		    </a>
    	    </div>
            <nav id="navigation">
                <div class="selectBox">
                    <span class="selected">Blog</span>
                    <span class="selectArrow"></span>
                    <div class="selectOptions">
                        <span class="selectOption" value="http://answers.coveo.com">Answers</span>
                        <span class="selectOption" value="http://developers.coveo.com">Developers</span>
                        <span class="selectOption" value="http://onlinehelp.coveo.com">Online Help</span>
                        <span class="selectOption" value="http://api.developers.coveo.com">API Reference</span>
                        <span class="selectOption" value="http://www.coveo.com">Coveo.com</span>
                    </div>
                </div>
            </nav>
            <div id="searchBox" class="CoveoSearchBox" data-activate-omnibox="true"></div>
        </div>
    </header>
</section>
</div>

<article class="container">

<div id="search" class="CoveoSearchInterface" data-enable-history="true">

    <div class="coveo-tab-section">
        <a class="CoveoTab"
           data-id="Blog"
           data-caption="Blog"
           data-icon="coveo-sprites-documentType-all-content"
	       data-expression='@syssource==BlogTech'></a>
    </div>

    <div class="coveo-results-section">
        <div class="coveo-facet-column">
            <div data-tab="Blog">
	            <div class="CoveoFacet" data-title="Author" data-field="@sysauthor" data-show-icon="true"></div>
	        </div>
	        <div class="CoveoFacet" data-title="Tags" data-field="@tags" data-is-multi-value-field="true"></div>
        </div>

        <div class="coveo-results-column">
            <div class="CoveoShareQuery"></div>
            <div class="CoveoPreferencesPanel">
                <div class="CoveoResultsPreferences"></div>
                <div class="CoveoResultsFiltersPreferences"></div>
            </div>
            <div class="CoveoBreadcrumb"></div>

            <div class="coveo-results-header">
                <div class="coveo-summary-section">
                    <span class="CoveoQuerySummary"></span>
                    <span class="CoveoQueryDuration"></span>
                </div>
                <div class="coveo-sort-section">
                    <span class="CoveoSort" data-sort-criteria="relevancy">Relevance</span>
                    <span class="CoveoSort" data-sort-criteria="date descending,date ascending">Date</span>
                </div>
                <div class='coveo-clear'></div>
            </div>

            <div class="CoveoHiddenQuery"></div>
            <div class="CoveoDidYouMean"></div>
            <div class="CoveoErrorReport" data-pop-up='false'></div>

            <div class="CoveoResultList" data-wait-animation="fade">
                <script id="Default" type="text/x-underscore-template">
                <%= fromFileTypeToIcon(obj) %>
                
                <div class="coveo-date"><%-dateTime(raw.sysdate)%></div>
                
                <div class="coveo-title">
                  <a class="CoveoResultLink" target="_blank"><%=title?highlight(title, titleHighlights):clickUri%></a>
                
                  <%= loadTemplate("DefaultQuickView") %>
                </div>
                
                <div class="coveo-excerpt">
                  <%=highlight(excerpt, excerptHighlights)%>
                </div>
                
                <div class="CoveoPrintableUri"></div>
                
                <table class="CoveoFieldTable">
                  <tr data-field="@sysauthor" data-caption="Author"></tr>
                </table>
                </script>

                <script id="DefaultQuickView" type="text/x-underscore-template">
                <div class="CoveoQuickView" data-title="<%= attrEncode(fromFileTypeToIcon(obj) + title) %>" data-fixed="true" data-template-id="DefaultQuickViewContent">
                </div>
                </script>

                <script id="DefaultQuickViewContent" type="text/x-underscore-template">
                <div class="coveo-quick-view-header">
                  <table class="CoveoFieldTable">
                    <tr data-field="@sysdate" data-caption="Date" data-helper="dateTime"></tr>
                    <tr data-field="@objecttype" data-caption="Type"></tr>
                  </table>
                </div>
                <div class="CoveoQuickViewDocument"></div>
                </script>

                <script class="result-template" type="text/x-underscore-template">
                    <%=
                    loadTemplates({
                'Default' : 'default'
                    })
                    %>
                </script>
            </div>
            <div class="CoveoPager"></div>
        </div>

    </div>

</div>

<div style="clear:both;"></div>

</article>

<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }} 
        
        <nav>
            <a href="{{ site.inc.url }}">{{ site.inc.company }}</a> &middot;
            <a href="{{ site.baseurl }}">Blog</a> &middot;
            <a href="https://answers.coveo.com">Answers</a>
            <a href="https://developers.coveo.com">Documentation</a>
        </nav>
        
        <nav class="social">
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {% endif %}    
            <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
    </div>
</footer>

{% include _scripts.html %}

</body>
</html>
